.rainbowText
{
	background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
	width: 400px;
	
	-webkit-background-clip: text; 
	-webkit-text-fill-color: transparent;
}

.allBreeds
{
	left: 20%;
	width: 60%;
	height: 48%;
	column-count:2;
	position:relative;
	column-fill: balanced;
	line-height: 30px;
}

body
{
	background-image:url('animalShelter.png');
	background-repeat: no-repeat;
	back
}

.ball
{
    fill:red;
    cx:200px;
    cy:200px;
    r:30px;
    animation: ballanim 4s ease-in-out infinite;
}

@keyframes ballanim {
    0% { transform: translate(0px, 0px); }
    20% { transform: translate(0px,-400px);}
    30% { transform: translate(0px,0px);}
    40% { transform: translate(0px,-400px) skew(45deg,45deg) scale(2);}
    50% { transform: translate(0px,0px);}
    100% {transform: translate(500px, 0px) rotate(90deg);}
    }
    svg { overflow: visible; }