div{
    position: absolute;
    border: 5px solid black;
    width:100px;
    height: 100px;
    animation-name: name;
    animation-timing-function: ease-in-out;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes name{
    from{
        transform: rotate(45deg);
    }to{
        transform: translate(300px, 300px) scale(2);
    }
}