*{
    font-family: arial;
}

form{
    width: 500px;
    margin: 50px 30%;
    padding: 5px 20px;
    background-color: rgb(150, 149, 142);
}

label{
    font-weight: bold;
}

.textInput{
    height: 30px;
    border-radius: 50px;
}

.amountInput{
    height: 30px;
    border-radius: 50px;
    width: 50px;
}

table{
    border-spacing: 30px 10px;
}

button{
    background-color: orange;
    width: 140px;
    height: 30px;
    border: orange solid 0px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}

img{
    height: 50px;
    width: 50px;
}